@import 'colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: $primary;
  color: $secondary;
}

button{
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, p{
  margin: 0;
}